@model TrabPrático.Models.Loja

@{ ViewData["Title"] = "Create"; }

<div style=" text-align: center; border-top: 15px solid transparent">
    <img style=" width: 340px; height: 80px; object-fit: fill;" src="~/fotosjogos/logoCriar.png"
         title="Criar" />
</div>

<hr style=" background-color: white" />
@if (User.IsInRole("Gestor"))
{
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label style="color:white" asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="ImagemLoja" class="control-label">Imagem</label>
                <input type="file" name="imagem" accept=".jpg,.jpeg,.png" style=" color: #64fcfc;" />
                <span asp-validation-for="ImagemLoja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar á lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
}