@model TrabPrático.Models.Loja

@{ ViewData["Title"] = "Edit"; }

<div style=" text-align: center; border-top: 20px solid transparent">
    <img style=" width: 380px; height: 70px; object-fit:fill;" src="~/fotosjogos/logoEditar.png"
         title="Lista de Jogos" />
</div>

<hr style=" background-color: white" />
@if (User.IsInRole("Gestor"))
{
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLoja" />
            <div class="form-group">
                <label style="color:white" asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="ImagemLoja" class="control-label">Imagem</label>
                <input type="file" name="imagem" accept=".jpg,.jpeg,.png" style=" color: #64fcfc;" />
                <span asp-validation-for="ImagemLoja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="color:white" asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div>
    <a class="textoCor" asp-action="Index">Voltar à lista</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
}
}