<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrabPrático</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ImagensJogos.css" />
</head>
<body style="background-color: #272727 ;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" style=" background: #1c1b1b;">
            <div class="container">
                <div>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style=" width: 120px; height: 40px; object-fit:fill;" src="~/fotosjogos/miniLogo.png" title="Rev of Games" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex" style="justify-content">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="textoCor" asp-area="" asp-controller="Jogos" asp-action="Index">Jogos</a>
                        </li>
                        <li class="nav-item">
                            <a class="textoCor" asp-area="" asp-controller="Lojas" asp-action="Index">Loja</a>
                        </li>
                        <li hidden class="nav-item">
                            <a class="textoCor" asp-area="" asp-controller="Reviews" asp-action="Privacy">Reviews</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer style="background: #1c1b1b;" class="footer text-muted">
    <div class="container">
        &copy; 2021 - TrabPrático - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>