@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 style="color:White" class="text-danger">Acesso recusado.</h1>
    <p style="color:White" class="text-danger">Não tens acesso a este recurso.</p>
</header>
