@{
    ViewData["Title"] = "Home Page";
}

<div style=" text-align: center; border-top: 40px solid transparent; border-bottom: 40px solid transparent">
    <img style=" width: 320px; height: 160px; object-fit:fill;" src="~/fotosjogos/logo.png"
         title="Rev of Games" />
</div>
